# Dicionários

In [1]:
# lista
estudante_lst = ["pedro",22,"fernando",22,"tania",26,"cris",25]

In [2]:
estudante_lst

['pedro', 22, 'fernando', 22, 'tania', 26, 'cris', 25]

In [3]:
# Criando um dicionário
estudante_dici = {"pedro":22,"fernando":22,"tania":26,"cris":25}

In [4]:
estudante_dici

{'pedro': 22, 'fernando': 22, 'tania': 26, 'cris': 25}

In [5]:
estudante_dici["pedro"]

22

In [6]:
estudante_dici["pedro"] = 23

In [7]:
estudante_dici["pedro"]

23

In [8]:
estudante_dici["tania"]

26

In [9]:
estudante_dici.clear()

In [10]:
estudante_dici

{}

In [11]:
del estudante_dici

In [12]:
estudante_dici

NameError: name 'estudante_dici' is not defined

In [13]:
estudante = {"pedro":22,"fernando":22,"tania":26,"cris":25}

In [14]:
estudante

{'pedro': 22, 'fernando': 22, 'tania': 26, 'cris': 25}

In [15]:
#ele busca os mapeamentos
len(estudante)

4

In [16]:
#busca as chaves
estudante.keys()

dict_keys(['pedro', 'fernando', 'tania', 'cris'])

In [17]:
# busca os valores
estudante.values()

dict_values([22, 22, 26, 25])

In [18]:
#busca os itens dentro do dicionário
estudante.items()

dict_items([('pedro', 22), ('fernando', 22), ('tania', 26), ('cris', 25)])

In [19]:
estudante2 = {"maria":27,"erika":28,"milton":26}

In [20]:
estudante2

{'maria': 27, 'erika': 28, 'milton': 26}

In [21]:
estudante.update(estudante2)

In [22]:
estudante

{'pedro': 22,
 'fernando': 22,
 'tania': 26,
 'cris': 25,
 'maria': 27,
 'erika': 28,
 'milton': 26}

In [23]:
dic1 = {}

In [24]:
dic1

{}

In [25]:
dic1["key_one"] = 2

In [26]:
print(dic1)

{'key_one': 2}

In [27]:
dic1[10] = 5

In [28]:
dic1[8.2] = "Ola"

In [29]:
dic1["teste"] = 5

In [30]:
dic1

{'key_one': 2, 10: 5, 8.2: 'Ola', 'teste': 5}

In [31]:
dic1 = {}

In [32]:
dic1

{}

In [33]:
dic1["teste"] = 10

In [34]:
dic1["key"] = "Teste"

In [35]:
# atenção no primeiro "Teste" é chave, no segundo mapeamento
# "Teste" é chave
dic1

{'teste': 10, 'key': 'Teste'}

In [36]:
dic2 = {}

In [37]:
dic2["key1"] = "Big Data"

In [38]:
dic2["Key2"] = 10

In [39]:
dic2["Key3"] = 5.6

In [40]:
dic2

{'key1': 'Big Data', 'Key2': 10, 'Key3': 5.6}

In [41]:
a = dic2["key1"]

In [42]:
b = dic2["Key2"]

In [43]:
c = dic2["Key3"]

In [44]:
a, b, c

('Big Data', 10, 5.6)

In [45]:
#Dicionário de listas
dic3 = {"key1":1230,"key2":[22,453,73.4],"key3":["leite","batata","maça"]}

In [46]:
dic3

{'key1': 1230, 'key2': [22, 453, 73.4], 'key3': ['leite', 'batata', 'maça']}

In [47]:
dic3["key2"]

[22, 453, 73.4]

In [48]:
#acessando um item de uma lista, dentro do dicionário
dic3["key3"][0].upper()

'LEITE'

In [49]:
# operações com itens da lista, dentro do dicionário
var1 = dic3["key2"][0] - 2

In [50]:
var1

20

In [51]:
dic3["key2"][0] -= 2

In [52]:
dic3

{'key1': 1230, 'key2': [20, 453, 73.4], 'key3': ['leite', 'batata', 'maça']}

### Dicionários aninhados

In [53]:
dict_anihado = {"key1":{"key2_aninhado":{"key3_aninhado":"Pyton"}}}

In [54]:
dict_anihado

{'key1': {'key2_aninhado': {'key3_aninhado': 'Pyton'}}}

In [55]:
dict_anihado["key1"]["key2_aninhado"]["key3_aninhado"]

'Pyton'