# Tuplas

In [1]:
# Criando tupla
tupla1 = ("matemática", 23, "gatos")

In [2]:
tupla1

('matemática', 23, 'gatos')

In [3]:
# Tuplas não suportam append
tupla1.append("chocolate")

AttributeError: 'tuple' object has no attribute 'append'

In [4]:
# tuplas não suportam delete de item específico
del tupla1("gatos")

SyntaxError: can't delete function call (<ipython-input-4-e9a35ec31ab9>, line 2)

In [5]:
tupla1 = ("chocolate")

In [6]:
tupla1

'chocolate'

In [7]:
tupla1 = ("matemática", 23, "gatos")

In [8]:
tupla1[0]

'matemática'

In [9]:
len(tupla1)

3

In [10]:
tupla1[1:]

(23, 'gatos')

In [11]:
tupla1.index("gatos")

2

In [12]:
tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

In [13]:
del tupla1

In [14]:
tupla1

NameError: name 'tupla1' is not defined

In [15]:
t2 = ("A", "B", "C")

In [16]:
t2

('A', 'B', 'C')

In [17]:
t2[0] = "D"

TypeError: 'tuple' object does not support item assignment

In [18]:
# workaround - tupla - lista - tupla
# converte para objeto lista
lista_t2 = list(t2)

In [19]:
lista_t2

['A', 'B', 'C']

In [20]:
lista_t2.append("D")

In [21]:
lista_t2

['A', 'B', 'C', 'D']

In [22]:
# Converte para tupla novamente
t2 = tuple(lista_t2)

In [23]:
t2

('A', 'B', 'C', 'D')