In [1]:
# 1: imprimir os números de 1 a 10
lista1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print(lista1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [2]:
# 2: lista cm 5 objetos e imprimir
lista2 = {"Aline", 123, "hora", "now", 2569784}

In [3]:
# 3: duas strings e concatenar em uma terceira
str1 = "Aline"
str2 = " de Jesus"
str3 = str1 + str2
print(str3)

Aline de Jesus

In [4]:
# 4: criação de tupla e utilização do count para verificação de qdade
tupla1 = (1, 2, 2, 3, 4, 4, 4, 5)
tupla1.count(4)

3

In [5]:
# 5: criação de dicionario
dic = {"aline": 123, "maria": 456, "Cynthia": 789}
print(dic)

{'aline': 123, 'maria': 456, 'Cynthia': 789}

In [6]:
# 6: adição de novo item a lista
dic["Stefano"] = 123
print(dic)

{'aline': 123, 'maria': 456, 'Cynthia': 789, 'Stefano': 123}

In [7]:
# 7: criação do arquino nomes.txt
fileName = "data/nomes.txt"
arq2 = open(fileName, "w")
arq2.write("Aline, Cynthia, Maria, Stéfano, Junior")

38

In [8]:
# 8: abrir o arquivo e imprimi-lo em tela
arq2 = open("data/nomes.txt", "r")
print(arq2.read())

Aline, Cynthia, Maria, Stéfano, Junior

In [9]:
# 9: criação de dicionário vazio
dic2 = {}
print(dic2)

{}

In [10]:
# 10: utilizar o panda e a função tail para ler os ultimos valores
import pandas as pd
file_name = "data/salarios.csv"
df = pd.read_csv(file_name)
print(df.tail())

                      Name           Position Title Department  \
32177   ZYGOWICZ,  PETER J           POLICE OFFICER     POLICE
32178    ZYMANTAS,  MARK E           POLICE OFFICER     POLICE
32179  ZYRKOWSKI,  CARLO E           POLICE OFFICER     POLICE
32180  ZYSKOWSKI,  DARIUSZ  CHIEF DATA BASE ANALYST       DoIT
32181                  NaN                      NaN        NaN

      Employee Annual Salary
32177              $86520.00
32178              $83616.00
32179              $86520.00
32180             $110352.00
32181                    NaN